@import "./base/config.scss";
//@import "./base/keys.scss";
.card-slide-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-slide-wrapper {
  position: relative;
  perspective: 1000px;
  margin:auto;
}
.card-slide {
  position: absolute;
  height: 100%;
  width: 100%;
}
